// Variables
$size: 5%;
$base_0: #fff;
$base_1: #151515;
$base_2: lightgreen;
$primary: blue;
$secondary: red;

// Snake Game
.snake-game {
    height: 100vh;
    position: relative;

    .game-zone {
        width: 500px;
        height: 500px;
        margin: auto;
        position: relative;
        background-color: $base_2;
        
        .snake {
            .snake-cell {
                width: $size;
                height: $size;
                z-index: 1;
                position: absolute;
                border: 1px solid $base_2;
                background-color: $primary;
            }
        }
        .apple {
            width: $size;
            height: $size;
            z-index: 0;
            position: absolute;
            background-color: $secondary;
        }
    }
}